.linebreak {
    margin: 0 auto;
    width: 30px;
    height: 3px;
    border-radius: 20px;
    background-color: rgb(69, 101, 148, 0.3);
}

.detailed-weather {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 105px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0, 0.8) 2px 2px 12px;
}

.weather-icons {
    display: flex;
    justify-content: center;
}

.weather-icon {
    width: 34px;
    height: 34px;
    margin-top: 10px;
}

.weather-detail {
    margin: 0 12px;
}

.weather-detail p {
    font-size: 10px;
    color: rgb(69, 101, 148);
    margin: 0;
}

.weather-detail span.temperature-detail {
    display: inline-block;
    color: #644b95;
    font-size: 22px;
}