.footer {
    height: 34px;
    background-color: /* #644b95 */ #3C4F57;
    margin-top: 12px;
    box-shadow: 0px -6px 12px rgb(0, 0, 0, 0.8);
    padding: 20px;
}

.footer a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}