.app-header {
    text-transform: uppercase;
    background-color: /* #644b95 */ #3C4F57;
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 6px 12px rgb(0, 0, 0, 0.8); 
}

h1 {
    font-size: 16px;
    font-weight: 400;
    padding: 5px 30px;
    margin: 0;
    color: #fff;
}